# -----------------------------
# DATASETS
# -----------------------------
dataset/
data/
images/

# -----------------------------
# PYTHON
# -----------------------------
venv/
__pycache__/
*.pyc

# -----------------------------
# JUPYTER
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# ENV FILES
# -----------------------------
.env

# -----------------------------
# MAC FILES
# -----------------------------
.DS_Store

# -----------------------------
# MODELS (IMPORTANT)
# -----------------------------
*.h5

# -----------------------------
# UPLOADS (IMPORTANT)
# -----------------------------
static/uploads/