<!DOCTYPE html>
<html>
<body style="text-align:center; margin-top:50px;">

<h2>Detection</h2>

<!-- IMAGE -->
<h3>Image Forgery Detection</h3>
<form action="/predict" method="post" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="image">
    <input type="file" name="file" required>
    <button>Check Image</button>
</form>

<br>

<!-- SIGNATURE -->
<h3>Signature Verification</h3>
<form action="/predict" method="post" enctype="multipart/form-data">
    <input type="hidden" name="mode" value="signature">
    <input type="file" name="file" required>
    <button>Check Signature</button>
</form>

<br><br>

{% if result %}
<h3>{{ result }}</h3>
<img src="{{ url_for('static', filename=img_path) }}" width="200">
{% endif %}

<br><br>
<a href="/home">Back</a>

</body>
</html>